obsolete/Palladio.Performance.Helge/config/WebserverAnalyserConfig.dtd

<?xml version="1.0" encoding="UTF-8"?><!--DTD generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)--><!ELEMENT Config (FilePath, MeasureFile, ServiceName, Seff, SeffOutputFile, StoreFile, Epsilon, FrequencyDomain, Samplingrate, NumberOfFunctionValues)><!ELEMENT Epsilon (#PCDATA)><!ELEMENT FilePath (#PCDATA)><!ELEMENT FrequencyDomain (#PCDATA)><!ELEMENT MeasureFile (#PCDATA)><!ELEMENT NumberOfFunctionValues (#PCDATA)><!ELEMENT Samplingrate (#PCDATA)><!ELEMENT Seff (#PCDATA)><!ELEMENT SeffOutputFile (#PCDATA)><!ELEMENT ServiceName (#PCDATA)><!ELEMENT StoreFile (#PCDATA)>