WebAudioStore/Data/WebAudioStoreMeasure.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<!ELEMENT CallTime (#PCDATA)>
<!ELEMENT ClassName (#PCDATA)>
<!ELEMENT ExecutionTime (#PCDATA)>
<!ELEMENT InterfaceName (#PCDATA)>
<!ELEMENT MethodName (#PCDATA)>
<!ELEMENT ReturnTime (#PCDATA)>
<!ELEMENT RunID (#PCDATA)>
<!ELEMENT WebAudioStore.AudioStore_IAudioStore_GetUploadedFileView (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.AudioStore_IAudioStore_GetUploadedFileView
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.AudioStore_IAudioStore_HandleUpload (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.AudioStore_IAudioStore_HandleUpload
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.DBAdapter_IAudioDB_GetAudioFileInfo (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.DBAdapter_IAudioDB_GetAudioFileInfo
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.DBAdapter_IAudioDB_InsertAudioFile (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.DBAdapter_IAudioDB_InsertAudioFile
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.DBAdapter_IAudioDB_InsertAudioInfo (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.DBAdapter_IAudioDB_InsertAudioInfo
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.EncodingAdapter_IAudioDB_GetAudioFileInfo (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.EncodingAdapter_IAudioDB_GetAudioFileInfo
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.EncodingAdapter_IAudioDB_InsertAudioFile (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.EncodingAdapter_IAudioDB_InsertAudioFile
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.EncodingAdapter_IAudioDB_InsertAudioInfo (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.EncodingAdapter_IAudioDB_InsertAudioInfo
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebserverMeasure (RunID | WebAudioStore.EncodingAdapter_IAudioDB_GetAudioFileInfo | WebAudioStore.DBAdapter_IAudioDB_GetAudioFileInfo | WebAudioStore.AudioStore_IAudioStore_GetUploadedFileView | WebAudioStore.AudioStore_IAudioStore_HandleUpload | WebAudioStore.DBAdapter_IAudioDB_InsertAudioFile | WebAudioStore.DBAdapter_IAudioDB_InsertAudioInfo | WebAudioStore.EncodingAdapter_IAudioDB_InsertAudioFile | WebAudioStore.EncodingAdapter_IAudioDB_InsertAudioInfo)+>
