trunk/Palladio.ComponentModel/src/Serialization/Xml/Palladio.ComponentModel.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="XMLSchema1" targetNamespace="http://palladio.informatik.uni-oldenburg.de/XSD"
	elementFormDefault="qualified" xmlns="http://palladio.informatik.uni-oldenburg.de/XSD"
	xmlns:mstns="http://palladio.informatik.uni-oldenburg.de/XSD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ComponentModel">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TypeLevel">
					<xs:complexType>
						<xs:sequence>
							<xs:choice maxOccurs="unbounded" minOccurs="1">
								<xs:element name="StaticViewRoot" maxOccurs="1" minOccurs="1" type="StaticViewRootTL"></xs:element>
								<xs:element name="BasicComponent" maxOccurs="unbounded" minOccurs="0" type="BasicComponentTL"></xs:element>
								<xs:element name="CompositeComponent" maxOccurs="unbounded" minOccurs="0" type="CompositeComponent"></xs:element>
								<xs:element name="Interface" maxOccurs="unbounded" minOccurs="0" type="Interface"></xs:element>
								<xs:element name="Signature" maxOccurs="unbounded" minOccurs="0" type="Signature"></xs:element>
								<xs:element name="Protocol" maxOccurs="unbounded" minOccurs="0" type="Protocol"></xs:element>
								<xs:element name="Connector" maxOccurs="unbounded" minOccurs="0" type="Connector"></xs:element>
								<xs:element name="ServiceEffectSpecification" type="ServiceEffectSpecification" minOccurs="0"
									maxOccurs="unbounded"></xs:element>
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ImplementationLevel">
					<xs:complexType>
						<xs:sequence />
					</xs:complexType>
				</xs:element>
				<xs:element name="DeploymentLevel">
					<xs:complexType>
						<xs:sequence />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="GUID">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:complexType name="Attributes">
		<xs:sequence>
			<xs:element name="Attribute" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Description" type="xs:string"></xs:element>
						<xs:element name="Name" type="xs:string"></xs:element>
						<xs:element name="ValueType" type="xs:string"></xs:element>
						<xs:any />
					</xs:sequence>
					<xs:attribute name="type" type="GUID" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Entity">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" />
			<xs:element name="Attributes" type="Attributes" />
		</xs:sequence>
		<xs:attribute name="guid" type="GUID" />
	</xs:complexType>
	<xs:complexType name="StaticViewRootTL">
		<xs:sequence>
			<xs:element name="Structure">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Component" maxOccurs="unbounded" minOccurs="0">
							<xs:complexType>
								<xs:sequence />
								<xs:attribute name="guid" type="GUID" />
							</xs:complexType>
						</xs:element>
						<xs:element name="AssemblyConnector" maxOccurs="unbounded" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ProvidingIFace">
										<xs:complexType>
											<xs:sequence />
											<xs:attribute name="guid" type="GUID" />
										</xs:complexType>
									</xs:element>
									<xs:element name="ProvidingComponent">
										<xs:complexType>
											<xs:sequence />
											<xs:attribute name="guid" type="GUID" />
										</xs:complexType>
									</xs:element>
									<xs:element name="RequireingIFace">
										<xs:complexType>
											<xs:sequence />
											<xs:attribute name="guid" type="GUID" />
										</xs:complexType>
									</xs:element>
									<xs:element name="RequireingComponent">
										<xs:complexType>
											<xs:sequence />
											<xs:attribute name="guid" type="GUID" />
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="guid" type="GUID" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CompositeComponent">
		<xs:complexContent>
			<xs:extension base="Entity">
				<xs:sequence>
					<xs:element name="Structure">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ProvidesInterface" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence />
										<xs:attribute name="guid" type="GUID" />
									</xs:complexType>
								</xs:element>
								<xs:element name="RequiresInterface" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence />
										<xs:attribute name="guid" type="GUID" />
									</xs:complexType>
								</xs:element>
								<xs:element name="Component" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence />
										<xs:attribute name="guid" type="GUID" />
									</xs:complexType>
								</xs:element>
								<xs:element name="DelegationConnector" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Type">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="Requires" />
														<xs:enumeration value="Provides" />
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="InnerIFace">
												<xs:complexType>
													<xs:sequence />
													<xs:attribute name="guid" type="GUID" />
												</xs:complexType>
											</xs:element>
											<xs:element name="InnerComponent">
												<xs:complexType>
													<xs:sequence />
													<xs:attribute name="guid" type="GUID" />
												</xs:complexType>
											</xs:element>
											<xs:element name="OuterIFace">
												<xs:complexType>
													<xs:sequence />
													<xs:attribute name="guid" type="GUID" />
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="guid" type="GUID" />
									</xs:complexType>
								</xs:element>
								<xs:element name="AssemblyConnector" maxOccurs="unbounded" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ProvidingIFace">
												<xs:complexType>
													<xs:sequence />
													<xs:attribute name="guid" type="GUID" />
												</xs:complexType>
											</xs:element>
											<xs:element name="ProvidingComponent">
												<xs:complexType>
													<xs:sequence />
													<xs:attribute name="guid" type="GUID" />
												</xs:complexType>
											</xs:element>
											<xs:element name="RequireingIFace">
												<xs:complexType>
													<xs:sequence />
													<xs:attribute name="guid" type="GUID" />
												</xs:complexType>
											</xs:element>
											<xs:element name="RequireingComponent">
												<xs:complexType>
													<xs:sequence />
													<xs:attribute name="guid" type="GUID" />
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="guid" type="GUID" />
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BasicComponentTL">
		<xs:complexContent>
			<xs:extension base="Entity">
				<xs:sequence>
					<xs:element name="Structure">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ProvidesInterface" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence />
										<xs:attribute name="guid" type="GUID" />
									</xs:complexType>
								</xs:element>
								<xs:element name="RequiresInterface" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence />
										<xs:attribute name="guid" type="GUID" />
									</xs:complexType>
								</xs:element>
								<xs:element name="ServiceEffectSpecification" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Interface">
												<xs:complexType>
													<xs:sequence />
													<xs:attribute name="guid" type="xs:string" />
												</xs:complexType>
											</xs:element>
											<xs:element name="Signature">
												<xs:complexType>
													<xs:sequence />
													<xs:attribute name="guid" type="xs:string" />
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="guid" type="xs:string" />
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Interface">
		<xs:complexContent>
			<xs:extension base="Entity">
				<xs:sequence>
					<xs:element name="Structure">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Signature" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence />
										<xs:attribute name="guid" type="GUID" />
									</xs:complexType>
								</xs:element>
								<xs:element name="Protocol" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence />
										<xs:attribute name="guid" type="GUID" />
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Connector">
		<xs:complexContent>
			<xs:extension base="Entity">
				<xs:sequence />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Protocol">
		<xs:complexContent>
			<xs:extension base="xs:anyType">
				<xs:sequence>
					<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
				<xs:attribute name="type" type="GUID" />
				<xs:attribute name="guid" type="GUID" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Signature">
		<xs:complexContent>
			<xs:extension base="Entity">
				<xs:sequence>
					<xs:element name="ReturnType" type="Type" minOccurs="0" />
					<xs:element name="Parameter" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Name" type="xs:string" />
								<xs:element name="Type" type="Type" />
								<xs:element name="Modifier" type="xs:byte" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Exception" type="Type" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Type">
		<xs:sequence>
			<xs:any minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="typeid" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="ServiceEffectSpecification">
		<xs:complexContent>
			<xs:extension base="xs:anyType">
				<xs:sequence>
					<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
				<xs:attribute name="type" type="GUID" />
				<xs:attribute name="guid" type="GUID" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>