obsolete/WebAudioStore/Data/WebAudioStoreMeasure.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<!ELEMENT CallTime (#PCDATA)>
<!ELEMENT ClassName (#PCDATA)>
<!ELEMENT ExecutionTime (#PCDATA)>
<!ELEMENT InterfaceName (#PCDATA)>
<!ELEMENT MethodName (#PCDATA)>
<!ELEMENT ReturnTime (#PCDATA)>
<!ELEMENT RunID (#PCDATA)>
<!ELEMENT WebAudioStore.AudioStore_IAudioStore_GetUploadedFileView (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.AudioStore_IAudioStore_GetUploadedFileView
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.AudioStore_IAudioStore_HandleUpload (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.AudioStore_IAudioStore_HandleUpload
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.AudioStore_IAudioStore_FinalizeUpload (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.AudioStore_IAudioStore_FinalizeUpload
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.DBAdapter_IAudioDB_GetAudioFileInfo (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.DBAdapter_IAudioDB_GetAudioFileInfo
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.DBAdapter_IAudioDB_InsertAudioFile (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.DBAdapter_IAudioDB_InsertAudioFile
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.DBAdapter_IAudioDB_InsertAudioInfo (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.DBAdapter_IAudioDB_InsertAudioInfo
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.DBAdapter_IAudioDB_FinalizeUpload (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.DBAdapter_IAudioDB_FinalizeUpload
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.EncodingAdapter_IAudioDB_GetAudioFileInfo (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.EncodingAdapter_IAudioDB_GetAudioFileInfo
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.EncodingAdapter_IAudioDB_InsertAudioFile (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.EncodingAdapter_IAudioDB_InsertAudioFile
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.EncodingAdapter_IAudioDB_InsertAudioInfo (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.EncodingAdapter_IAudioDB_InsertAudioInfo
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT System.Web.HttpInputStream_InputStream_Read (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST System.Web.HttpInputStream_InputStream_Read
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.OggEncoder_IEncoder_WriteMp3ToDisk (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.OggEncoder_IEncoder_WriteMp3ToDisk
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.OggEncoder_IEncoder_Mp32Wav (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.OggEncoder_IEncoder_Mp32Wav
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.OggEncoder_IEncoder_ExecuteEncoder (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.OggEncoder_IEncoder_ExecuteEncoder
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.OggEncoder_IEncoder_ReadEncodedFileFromDisk (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.OggEncoder_IEncoder_ReadEncodedFileFromDisk
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.OggEncoder_IEncoder_EncodeFile (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.OggEncoder_IEncoder_EncodeFile
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.EncodingAdapter_IAudioDB_FinalizeUpload (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.EncodingAdapter_IAudioDB_FinalizeUpload
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.BufferingDBAdapter_IAudioDB_GetAudioFileInfo (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.BufferingDBAdapter_IAudioDB_GetAudioFileInfo
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.BufferingDBAdapter_IAudioDB_InsertAudioFile (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.BufferingDBAdapter_IAudioDB_InsertAudioFile
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.BufferingDBAdapter_IAudioDB_InsertAudioInfo (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.BufferingDBAdapter_IAudioDB_InsertAudioInfo
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT WebAudioStore.BufferingDBAdapter_IAudioDB_FinalizeUpload (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST WebAudioStore.BufferingDBAdapter_IAudioDB_FinalizeUpload
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>


<!ELEMENT MySql.Data.MySqlClient.MySqlConnection_IConnection_Open (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST MySql.Data.MySqlClient.MySqlConnection_IConnection_Open
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT MySql.Data.MySqlClient.MySqlCommand_ICommand_ExecuteReader (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST MySql.Data.MySqlClient.MySqlCommand_ICommand_ExecuteReader
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT MySql.Data.MySqlClient.MySqlDataReader_IDataReader_Read (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST MySql.Data.MySqlClient.MySqlDataReader_IDataReader_Read
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT MySql.Data.MySqlClient.MySqlDataReader_IDataReader_Close (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST MySql.Data.MySqlClient.MySqlDataReader_IDataReader_Close
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT MySql.Data.MySqlClient.MySqlCommand_ICommand_ExecuteNonQuery (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST MySql.Data.MySqlClient.MySqlCommand_ICommand_ExecuteNonQuery
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>
<!ELEMENT MySql.Data.MySqlClient.MySqlConnection_IConnection_Close (ClassName, InterfaceName, MethodName, CallTime, ReturnTime, ExecutionTime)>
<!ATTLIST MySql.Data.MySqlClient.MySqlConnection_IConnection_Close
	CallNumber ID #REQUIRED
	CallerID IDREF #IMPLIED
	Calls IDREFS #IMPLIED
>


<!ELEMENT WebserverMeasure (RunID | WebAudioStore.EncodingAdapter_IAudioDB_GetAudioFileInfo | WebAudioStore.DBAdapter_IAudioDB_GetAudioFileInfo | WebAudioStore.AudioStore_IAudioStore_GetUploadedFileView | WebAudioStore.AudioStore_IAudioStore_HandleUpload | WebAudioStore.DBAdapter_IAudioDB_InsertAudioFile | WebAudioStore.DBAdapter_IAudioDB_InsertAudioInfo | WebAudioStore.EncodingAdapter_IAudioDB_InsertAudioFile | WebAudioStore.EncodingAdapter_IAudioDB_InsertAudioInfo)+>
