obsolete/Palladio.Webserver/trunk/Config/SimpleTemplateFileProviderXML.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT Config (HandledFileTypes, Variablesname)>
<!ATTLIST Config
	xmlns:xsi CDATA #REQUIRED
	xsi:noNamespaceSchemaLocation CDATA #REQUIRED
>


<!ELEMENT HandledFileTypes (File*)>

<!ELEMENT File EMPTY>
<!ATTLIST File
	 Extension CDATA #REQUIRED
>


<!ELEMENT Variablesname EMPTY>
<!ATTLIST Variablesname
	Delimiter CDATA #REQUIRED
>
