trunk/config/XmlSeffParserConfig.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<!ELEMENT Config (InputFile, QmlOutputFile, PdfOutputFile, Epsilon, FrequencyDomain, NumberOfFunctionValues)>
<!ELEMENT Epsilon (#PCDATA)>
<!ELEMENT FrequencyDomain (#PCDATA)>
<!ELEMENT InputFile (#PCDATA)>
<!ELEMENT NumberOfFunctionValues (#PCDATA)>
<!ELEMENT QmlOutputFile (#PCDATA)>
<!ELEMENT PdfOutputFile (#PCDATA)>
